<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jay Chou</title>
  <script src="/static/live2d/live2D.js"></script>
  <link rel="stylesheet" href="/static/stytle.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body>

  <div class=" text-center" id = 'introduce'>

      <h1 class="cover-heading" id="h1">周杰伦</h1>
      <p class="lead" id="p1">华语流行乐男歌手、音乐人、演员、导演、编剧</p>
      <p class="lead">
        <a href="/homeApp/templates/home.html" class="btn btn-lg btn-info">Learn more</a>
      </p>

  </div>

  

</body>

</html>